@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&family=Montserrat:wght@300;400;500&display=swap");
/*$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;*/
/* MYZ FONT SYMBOLS*/
@font-face {
  font-family: 'myz';
  src: url("../fonts/myz.eot");
  src: url("../fonts/myz.eot?#iefix") format("embedded-opentype"), url("../fonts/myz.woff") format("woff"), url("../fonts/myz.ttf") format("truetype"), url("../fonts/myz.svg#myz") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='myz-']:before {
  display: inline-block;
  font-family: 'myz';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myz-radioactive:before {
  content: '\0041';
}

.myz-biohazard:before {
  content: '\0042';
}

.myz-explosion:before {
  content: '\0043';
}

/*BROWNS*/
/*GREENS*/
/*BLUES*/
/*TEAL*/
/* Global styles */
.window-app {
  font-family: "Karla", sans-serif;
  /*.editor-content{
        height:100%;
    }*/
}

.window-app .window-content {
  background-image: url(../ui/mutant-sheet-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px black;
  cursor: pointer;
}

.sheet.actor .window-content {
  background: url("../ui/mutant-sheet-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*ROLL DIALOG*/
.roll-dialog {
  background: url("../ui/mutant-sheet-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: -18px -8px 0 -8px;
  padding: 8px;
}

.roll-dialog .dice-image {
  max-width: 20px;
  max-height: 20px;
  border: none;
}

.roll-dialog label {
  text-transform: capitalize;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to mutant-year-zero sheets */
.mutant-year-zero {
  /*
.box-list {
    border: 1px solid;
    margin-bottom: 10px;
    background-color: $c-brown-pale;

    &.mutant {
        background-color: $c-brown-pale;
    }

    &.animal {
        background-color: $c-green-pale;
    }

    &.robot {
        background-color: $c-blue-pale;
    }

    &.human {
        background-color: $c-teal-pale;
    }

    .box-header {
        padding: 5px;
        color: white;
        align-items: center;
        background-color: $c-brown-dark;
        background-image: url("../ui/box-header-brown.jpg");
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.mutant {
            background-image: url("../ui/box-header-brown.jpg");
        }

        &.animal {
            background-image: url("../ui/box-header-green.jpg");
        }

        &.robot {
            background-image: url("../ui/box-header-blue.jpg");
        }

        &.human {
            background-image: url("../ui/box-header-tile.jpg");
        }

        input {
            background-color: $c-white;
        }
    }

    .box-content {
        padding: 2px;
        min-height: 87px;

        .box-item {
            border-bottom: 1px solid $c-brown-mid;
            padding: 2px 0;
            align-items: center;

            input[type='checkbox'] {
                width: 15px;
                height: 15px;
            }

            .fa-eye {
                cursor: pointer;
            }
        }

        .box-item:last-child {
            border: none;
        }
    }
}
*/
  /* .tabs {
   .item {
     background: rgba(0, 0, 0, 0.125);
     border: 1px solid;
     border-radius: 4px;
     margin: 0 10px 0;
     padding: 8px 4px;

     &:hover,
     &:focus {
       background: rgba(0, 0, 0, 0.125);
     }

     &.active {
       background: transparent;
     }
   }
 }*/
  /*.items-list {
    list-style: none;
    //margin: 7px 0;
    padding: 0;


    .item-header {
        font-weight: bold;
    }



    .item {
        height: 30px;
        line-height: 24px;
        padding: 3px 0;
        border-bottom: 1px solid $c-brown-mid;

        .item-image {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }

        img {
            display: block;
        }
    }

    .item-name {
        margin: 0;
    }

    .item-controls {
        flex: 0 0 86px;
        text-align: right;
    }
}*/
}

.mutant-year-zero .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mutant-year-zero .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mutant-year-zero .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mutant-year-zero .full {
  width: 100%;
  height: 100%;
}

.mutant-year-zero .wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mutant-year-zero .half {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.mutant-year-zero .center {
  text-align: center;
}

.mutant-year-zero .margin {
  margin: 5px;
}

.mutant-year-zero .grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mutant-year-zero .align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mutant-year-zero .align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.mutant-year-zero .space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mutant-year-zero .space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mutant-year-zero .item-form {
  font-family: "Karla", sans-serif;
}

.mutant-year-zero .sheet-header, .mutant-year-zero .actor-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.mutant-year-zero .sheet-header .profile-img, .mutant-year-zero .actor-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.mutant-year-zero .sheet-header .header-fields, .mutant-year-zero .actor-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mutant-year-zero .sheet-header h1.charname, .mutant-year-zero .actor-header h1.charname {
  height: 2em;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.mutant-year-zero .sheet-header h1.charname input, .mutant-year-zero .actor-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mutant-year-zero .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mutant-year-zero .sheet-body,
.mutant-year-zero .sheet-body .tab,
.mutant-year-zero .sheet-body .tab .editor {
  height: 100%;
}

.mutant-year-zero .attribute-name {
  font-weight: 800;
  text-transform: uppercase;
}

.mutant-year-zero .gear-section {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mutant-year-zero .gear-section .col1 {
  max-width: 150px;
  margin-right: 10px;
}

.mutant-year-zero .gear-section .col2 {
  width: 100%;
}

.mutant-year-zero .tox .tox-editor-container {
  background: #fff;
}

.mutant-year-zero .tox .tox-edit-area {
  padding: 0 8px;
}

.mutant-year-zero .conditions .box-content {
  padding: 0 5px 0 5px;
}

.mutant-year-zero .conditions .grid {
  margin: 0;
}

.mutant-year-zero .viewable, .mutant-year-zero .chatable, .mutant-year-zero .item-create {
  cursor: pointer;
}

.mutant-year-zero .short-input {
  max-width: 3em;
  text-align: center;
  background-color: white;
  color: black;
}

.mutant-year-zero .item-create {
  text-align: right;
}

.mutant-year-zero .item-broken {
  cursor: pointer;
}

.mutant-year-zero .checkbox-label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
  vertical-align: middle;
}

.mutant-year-zero .checkbox-label input {
  position: absolute;
  left: 0;
  top: -3px;
  vertical-align: middle;
}

.mutant-year-zero .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.mutant-year-zero .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.mutant-year-zero .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.mutant-year-zero .tabs.active {
  text-decoration: underline;
  text-shadow: none;
}

.mutant-year-zero .box-item {
  min-height: 30px;
  padding: 0.3em 0 0.3em 0;
  line-height: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mutant-year-zero .box-item.physical .item-name {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.mutant-year-zero .box-item.physical .item-controls {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.mutant-year-zero .box-item.header {
  color: ghostwhite;
  font-weight: 800;
}

.mutant-year-zero .box-item.header.mutant {
  background-image: url("../ui/box-header-brown.jpg");
}

.mutant-year-zero .box-item.header.animal {
  background-image: url("../ui/box-header-green.jpg");
}

.mutant-year-zero .box-item.header.robot {
  background-image: url("../ui/box-header-blue.jpg");
}

.mutant-year-zero .box-item.header.human {
  background-image: url("../ui/box-header-tile.jpg");
}

.mutant-year-zero .box-item.chasie .chasie-name {
  padding-left: 0.5em;
}

.mutant-year-zero .box-item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

.mutant-year-zero .box-item img {
  display: block;
}

.mutant-year-zero .box-item .item-name {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  padding-left: 0.5em;
}

.mutant-year-zero .box-item .item-values {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.mutant-year-zero .box-item .item-controls {
  text-align: right;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  padding-right: 0.5em;
}

.mutant-year-zero .box-item .right-element {
  padding-right: 0.5em;
}

.mutant-year-zero .box-item .grid {
  margin: 0;
  grid-gap: 1px;
}

.mutant-year-zero .box-list {
  list-style: none;
  padding: 0;
  border: 1px solid;
  margin-bottom: 10px;
  min-height: 120px;
}

.mutant-year-zero .box-list.mutant {
  background-color: #f0d5b7;
}

.mutant-year-zero .box-list.animal {
  background-color: #dee9d3;
}

.mutant-year-zero .box-list.robot {
  background-color: #e2eaf4;
}

.mutant-year-zero .box-list.human {
  background-color: #e1ede9;
}

.mutant-year-zero .box-list .box-item:last-child {
  border: none;
}

.mutant-year-zero .item-unequipped {
  color: rgba(0, 0, 0, 0.2);
}
