@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* MYZ FONT SYMBOLS*/
@font-face {
  font-family: 'myz';
  src: url("../fonts/myz.eot");
  src: url("../fonts/myz.eot?#iefix") format("embedded-opentype"), url("../fonts/myz.woff") format("woff"), url("../fonts/myz.ttf") format("truetype"), url("../fonts/myz.svg#myz") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='myz-']:before {
  display: inline-block;
  font-family: 'myz';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myz-radioactive:before {
  content: '\0041';
}

.myz-biohazard:before {
  content: '\0042';
}

.myz-explosion:before {
  content: '\0043';
}

/*BROWNS*/
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.window-app .window-content {
  background-image: url(../ui/mutant-sheet-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px black;
  cursor: pointer;
}

.sheet.actor .window-content {
  background: url("../ui/mutant-sheet-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*ROLL DIALOG*/
.roll-dialog {
  background: url("../ui/mutant-sheet-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: -18px -8px 0 -8px;
  padding: 8px;
}

.roll-dialog .dice-image {
  max-width: 20px;
  max-height: 20px;
  border: none;
}

.roll-dialog label {
  text-transform: capitalize;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to mutant-year-zero sheets */
.mutant-year-zero .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mutant-year-zero .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mutant-year-zero .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mutant-year-zero .full {
  width: 100%;
  height: 100%;
}

.mutant-year-zero .wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mutant-year-zero .half {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.mutant-year-zero .center {
  text-align: center;
}

.mutant-year-zero .margin {
  margin: 5px;
}

.mutant-year-zero .grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mutant-year-zero .align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mutant-year-zero .align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.mutant-year-zero .space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mutant-year-zero .item-form {
  font-family: "Roboto", sans-serif;
}

.mutant-year-zero .sheet-header, .mutant-year-zero .actor-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.mutant-year-zero .sheet-header .profile-img, .mutant-year-zero .actor-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.mutant-year-zero .sheet-header .header-fields, .mutant-year-zero .actor-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mutant-year-zero .sheet-header h1.charname, .mutant-year-zero .actor-header h1.charname {
  height: 2em;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.mutant-year-zero .sheet-header h1.charname input, .mutant-year-zero .actor-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mutant-year-zero .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mutant-year-zero .sheet-body,
.mutant-year-zero .sheet-body .tab,
.mutant-year-zero .sheet-body .tab .editor {
  height: 100%;
}

.mutant-year-zero .gear-section {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mutant-year-zero .gear-section .col1 {
  max-width: 150px;
}

.mutant-year-zero .tox .tox-editor-container {
  background: #fff;
}

.mutant-year-zero .tox .tox-edit-area {
  padding: 0 8px;
}

.mutant-year-zero .box-list {
  border: 1px solid;
  margin-bottom: 10px;
}

.mutant-year-zero .box-list .box-header {
  padding: 5px;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #26211c;
  background-image: url("../ui/box-header-brown.jpg");
}

.mutant-year-zero .box-list .box-header input {
  background-color: #fff;
}

.mutant-year-zero .box-list .box-content {
  padding: 2px;
  background-color: #f0d5b7;
}

.mutant-year-zero .box-list .box-content .box-item {
  border-bottom: 1px solid #9d5625;
  padding: 2px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mutant-year-zero .box-list .box-content .box-item input[type='checkbox'] {
  width: 15px;
  height: 15px;
}

.mutant-year-zero .box-list .box-content .box-item .fa-eye {
  cursor: pointer;
}

.mutant-year-zero .box-list .box-content .box-item:last-child {
  border: none;
}

.mutant-year-zero .box-list.mutations .box-content, .mutant-year-zero .box-list.talents .box-content {
  min-height: 87px;
}

.mutant-year-zero .viewable, .mutant-year-zero .chatable, .mutant-year-zero .item-create {
  cursor: pointer;
}

.mutant-year-zero .short-input {
  max-width: 3em;
  text-align: center;
}

.mutant-year-zero .item-create {
  text-align: right;
}

.mutant-year-zero .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.mutant-year-zero .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.mutant-year-zero .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.mutant-year-zero .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.mutant-year-zero .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.mutant-year-zero .items-list .item-header {
  font-weight: bold;
}

.mutant-year-zero .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.mutant-year-zero .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.mutant-year-zero .items-list .item img {
  display: block;
}

.mutant-year-zero .items-list .item-name {
  margin: 0;
}

.mutant-year-zero .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
