$c-white: #fff;
$c-black: #000;
$c-customgrey: #ededed;

/*BROWNS*/
$c-brown-dark: #26211c;
$c-brown-mid: #9d5625;
$c-brown-light: #d18c42;
$c-brown-pale: #f0d5b7;

/*GREENS*/
$c-green-dark: #2c2e25;
$c-green-mid: #7a8a44;
$c-green-light: #95b527;
$c-green-pale: #dee9d3;

/*BLUES*/
$c-blue-dark: #002841;
$c-blue-mid: #8eb5d2;
$c-blue-light: #acc7e8;
$c-blue-pale: #e2eaf4;

/*TEAL*/
$c-teal-dark: #1e6f6b;
$c-teal-mid: #6cae93;
$c-teal-light: #9ec6b9;
$c-teal-pale: #e1ede9;