<section
  class='tab critical {{tab.cssClass}}'
  data-group='primary'
  data-tab='critical'
>

    <div class="item-attr-row">
        <div class="resource flex column">
            <label for="system.effect" class="resource-label">{{localize 'MYZ.EFFECT'}}</label>
            <textarea class="effect-textarea" rows="4" name="system.effect">{{system.effect}}</textarea>
        </div>
    </div>

</section>
