<nav class="sheet-tabs tabs">
    <a class="item" data-action="tab" data-group="primary" data-tab="details">{{localize "MYZ.DETAILS"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="modifiers">{{localize "MYZ.MODIFIERS"}}</a>
</nav>