{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs">
    <a class="item" data-action="tab" data-group="primary" data-tab="projects">{{localize "MYZ.PROJECTS"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="artifacts">{{localize "MYZ.ARTIFACTS"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="bosses">{{localize "MYZ.BOSSES"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="info">{{localize "MYZ.INFO"}}</a>
</nav>