{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs">
    <a class="item" data-action="tab" data-group="primary" data-tab="attributes">{{localize "MYZ.ATTRIBUTES"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="gear">{{localize "MYZ.GEAR"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="info">{{localize "MYZ.INFO"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="effects">{{localize "MYZ.EFFECTS"}}</a>
</nav>