<div class="box-item header flex row space-between align-center {{system.creatureType}}" style="margin-bottom: 5px">
    <label class="item-name" for="system.resource_points.value">{{localize (toUpperCase (concat 'MYZ.RESOURCE_POINTS_' system.creatureType ))}}</label>
    <input class="short-input" type="number" name="system.resource_points.value" value="{{system.resource_points.value}}" />
</div>