<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-action="tab" data-group="primary" data-tab="attributes">{{localize "MYZ.ATTRIBUTES"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="crew">{{localize "MYZ.SPACESHIP.Crew"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="cargo">{{localize "MYZ.SPACESHIP.Cargo"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="info">{{localize "MYZ.INFO"}}</a>
</nav>