<div class="box-item header flex row align-center {{system.creatureType}}">
    <label class="item-name">{{localize 'MYZ.SPECIAL'}}</label>
</div>
<div class="box-list {{system.creatureType}} fixed-height">
    <textarea name="system.special" style="width: 100%; background-color: #f1eded00; color: black">{{system.special}}</textarea>
</div>