<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-action="tab" data-group="primary" data-tab="occupants">{{localize "MYZ.VEHICLE.OCCUPANTS"}}</a>
    <a class="item" data-action="tab" data-group="primary" data-tab="info">{{localize "MYZ.INFO"}}</a>
</nav>