<section
  class='tab gear {{tab.cssClass}}'
  data-group='primary'
  data-tab='gear'>
    <div class="gear-section">
        <!--CONSUMABLES SECTION-->
        <div class="col1">
            {{> systems/mutant-year-zero/templates/actor/partials/consumables.hbs}}
            {{> systems/mutant-year-zero/templates/actor/partials/encumbrance.hbs}}
        </div>
        <!--WEAPON AND ARMOR SECTION-->
        <div class="col2">
            {{> systems/mutant-year-zero/templates/actor/partials/weapons.hbs}}
            {{#ifCond system.creatureType "!=" "robot"}}
            {{> systems/mutant-year-zero/templates/actor/partials/armors.hbs}}
            {{/ifCond}}
            {{#ifCond system.creatureType "==" "robot"}}
            {{> systems/mutant-year-zero/templates/actor/partials/chassis-1row.hbs}}
            {{/ifCond}}
            <div class="gear-row grid grid-2col">
                <div>
                    {{> systems/mutant-year-zero/templates/actor/partials/gear.hbs}}
                </div>
                <div>
                    {{> systems/mutant-year-zero/templates/actor/partials/artifacts.hbs}}
                </div>
            </div>
        </div>
    </div>
</section>