
<section
  class='tab info {{tab.cssClass}}'
  data-group='primary'
  data-tab='info'
>
    <div>
        {{editor descriptionHTML target="system.description" button=true owner=owner editable=true engine='prosemirror'}}
    </div>
</section>