<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>

            <div class="grid grid-2col">
                <div>{{!-- Skills --}} {{> systems/mutant-year-zero/templates/actor/partials/character-skills.hbs fixedHeight='fixed-height'}}</div>
                <div>
                    {{!-- Abilities --}} {{> systems/mutant-year-zero/templates/actor/partials/character-abilities.hbs sourceType='ability' sourceList=abilities
                    sourceLabel='MYZ.ABILITIES' fixedHeight='fixed-height'}}
                </div>
                <div>
                    {{!-- Talents --}} {{> systems/mutant-year-zero/templates/actor/partials/character-talents.hbs sourceType='talent' sourceList=talents
                    sourceLabel='MYZ.TALENTS' fixedHeight='fixed-height'}}
                </div>
                <div>
                    {{#ifCond system.creatureType '==' 'robot'}}
                    {{> systems/mutant-year-zero/templates/actor/partials/character-special.hbs}}
                    {{/ifCond}}

                    {{#ifCond system.creatureType '!==' 'robot'}}
                    {{> systems/mutant-year-zero/templates/actor/partials/character-criticals.hbs fixedHeight='fixed-height'}}
                    {{/ifCond}}
                </div>


</section>