.window-app {
    font-family: $font-primary;

    .window-content {
        background-image: url(../ui/mutant-sheet-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*.editor-content{
        height:100%;
    }*/
}


.sheet.actor .window-content{
    background: url("../ui/mutant-sheet-bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

/*ROLL DIALOG*/
.roll-dialog {
    min-height:135px;
   // margin-bottom:10px;
    .dice-row{
        margin-bottom:5px;
    }

    .dice-image {
        max-width: 20px;
        max-height: 20px;
        border: none;
    }

    label {
        text-transform: capitalize;
    }
}
