:root {
    scrollbar-color: unset;
  }


  .application {
    .window-content {
      overflow-y: auto;
    }
  }
  
  
.window-app {
    font-family: $font-primary;

    .window-content {
        background-image: url(../ui/mutant-sheet-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;        
    }

    /*.editor-content{
        height:100%;
    }*/
}

.sheet.actor .window-content{
    background: url("../ui/mutant-sheet-bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

/*ROLL DIALOG*/
.roll-dialog {

    background: url("../ui/mutant-sheet-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    min-height:3rem;
    max-width: 32rem;
    
    .dice-pool{
        flex: 1;
        margin: 0 2px;
        text-align: center;
        background: #ffffffb6;
        border-radius: 0.5em;
        padding: 0.5em;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .dice-total{
            padding: 0.6em;
            background: #eef2f7;
            border-radius: 6px;
        }

        img {
            max-width: 2em;
            max-height: 2em;
            border: none;
        }

        .dice-pool-name {       
            display: flex;
            justify-content: center;
            margin-bottom: 0.5em;        
        }
    }
    
    label {
        color: black;
        text-transform: capitalize;
    }

    ul.roll-bonus-list{
        list-style: none;
        color: black;
        background: #eef2f7;
        border-radius: 6px;
        margin-top: 6px;
        padding: 0.2em;
        font-size: 12px;
    }
    
    input{
        border: #888888 1px solid;;
        text-align: center;
        background-color: white;
        color: black;
        width: 2.5em;
        margin-left: 1em;
    }
}


// Global Journal Page Style
// This makes sure journal entries have a consistent look
// regardless of the user's chosen Foundry VTT theme.
$dark-text: #000000;
$border-color: #333333;
$journal-bg-fallback: rgb(243, 243, 243);

.sheet.journal-entry {
  .journal-entry-content {
    background-color: $journal-bg-fallback;
    background: url("../ui/mutant-sheet-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: $dark-text;
    border-color: $border-color;
    h1, h2, h3, h4, h5, h6 {
        border: none;
        color: $dark-text;
    }
  }

  .journal-entry-page {
    &.theme-dark, &.theme-light {
      color: $dark-text;
    }

    .journal-page-header {
      h1, h2, h3, h4, h5, h6 {
        border: none;
        color: $dark-text;
      }
    }

    // Ensures the actual text editor area also follows your dark-on-white rules
    .editor-content {
      color: $dark-text;
      a, li, p {
        color: $dark-text;
      }
    }
  }
}