.window-app {
    font-family: $font-primary;

    .window-content {
        background-image: url(../ui/mutant-sheet-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*.editor-content{
        height:100%;
    }*/
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px black;
    cursor: pointer;
  }
}

.sheet.actor .window-content{
    background: url("../ui/mutant-sheet-bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

/*ROLL DIALOG*/
.roll-dialog {
    background: url("../ui/mutant-sheet-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: -18px -8px 0 -8px;
    padding:8px;

    .dice-image {
        max-width: 20px;
        max-height: 20px;
        border: none;
    }

    label {
        text-transform: capitalize;
    }
}
