.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}

.full {
    width: 100%;
    height: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.half {
    flex: 0 0 50%;
}

.center {
    text-align: center;
}

.margin {
    margin: 5px;
}

.grow {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

