.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.half {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.center {
  text-align: center;
}

.margin {
  margin: 5px;
}

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
