#chat-log .message {
    background: white;
}
.dice-tooltip .dice-rolls .roll.max {
    /* color: #18520b; */
    filter: none;
}
.dice-tooltip .dice-rolls .roll.min {
    /* color: #18520b; */
    filter: none;
}
.myz.chat-item {
    background-color: white;
    background-image: url("../ui/mutant-sheet-bg.jpg");
    margin: 0 -5px 0 -5px;

    .border {
        padding: 10px;
    }

    strong {
        text-transform: uppercase;
    }

    h2 {
        font-family: $font-secondary;
    }

    h3 {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 8px;
        text-align: center;
    }

    h4 {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 8px;
        text-align: center;
    }

    .dices-result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        
        .dice{
            scale: 0;
            img {
                border: 0;
                width: 30px;
                height: 30px;
                margin: 0 2px 2px 0;
            }

            animation-fill-mode: forwards !important;
            @for $i from 1 through 20 {
                &:nth-child(#{$i}n) {
                    animation-delay: #{$i * 0.04}s;
                }
            }

            @include keyframes(fade) {
                from {
                    opacity: 0;
                    left: 100px;
                    scale:0;
                    rotate:-120deg;
                }
                to {
                    opacity: 1;
                    left: 0px;
                    scale:1;
                    rotate:0deg;
                }
            }
            @include animate(fade, 0.4s, cubic-bezier(.99, .80, .20, .99), 1);


            &.locked {
                animation-duration: 0s;
                scale: 1;
                img {
                    //filter: grayscale(75%);
                }
                
            }
        }
    }

    .push-button{
        margin: 5px;
        max-width: 160px;
    }
    

    i {
        margin-left: 2px;
    }

    .item-img {
        background: radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
        border: 0;
        display: block;
        margin: 0 auto 8px;
        max-height: 64px;
        width: auto;
    }

    p {
        font-family: $font-primary;
        margin: 0 0 4px;
    }

    .triggers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: smaller;
        padding: 5px 5px 0 5px;
    }

    .stunts{
        ul{
            li{
                margin-bottom: 0.5em;
            }
        }
        a{
            &.entity-link, &.content-link{
                background:unset;
                font-family: inherit;
                border:unset;
                border-bottom: 1px solid;
                border-color:#a67060;
                padding: 0;
                i{
                    color:#a67060;
                }
            }    
        }
    }

    .modifiers{        
        font-size: smaller;
        $transparency: 0.32;
        .modifiers-list{
            gap:5px;
            > *:nth-child(1) {
                background-color: rgba(248, 244, 0, $transparency);
            }
            > *:nth-child(2) {
                background-color: rgba(0, 117, 32, $transparency);
            }
            > *:nth-child(3) {
                background-color: rgba(0, 0, 0, $transparency);
            }
        }
        ul{
            margin: 0;
            padding: 2px;
            list-style-type: none;
            
        }
    }
}
