#chat-log .message {
    /*background: white;*/
    background-image: url("../ui/mutant-sheet-bg.jpg");
}
.dice-tooltip .dice-rolls .roll.max {
    /* color: #18520b; */
    filter: none;
}
.dice-tooltip .dice-rolls .roll.min {
    /* color: #18520b; */
    filter: none;
}
.myz.chat-item {
    /*background-color: white;
    background-image: url("../ui/mutant-sheet-bg.jpg");*/
    margin: 0 0px 0 0px;

    .border {
        padding: 10px;
    }

    .pushaction{
        align-items: center;
        font-size: 2em;
    }

    strong {
        text-transform: uppercase;
    }

    h2 {
        font-family: $font-secondary;
    }

    h3 {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 8px;
        text-align: center;
    }

    h4 {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 8px;
        text-align: center;
    }

    .dices-result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        img {
            border: 0;
            width: 30px;
            height: 30px;
            margin: 0 2px 2px 0;
        }
    }

    i {
        margin-left: 2px;
    }

    .item-img {
        background: radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
        border: 0;
        display: block;
        margin: 0 auto 8px;
        max-height: 64px;
        width: auto;
    }

    p {
        font-family: $font-primary;
        margin: 0 0 4px;
    }
}
