#chat-log .message {
    background: white;
}
.myz.chat-item {
    background-color: white;
    background-image: url('../ui/mutant-sheet-bg.jpg');
    margin: 0 -5px 0 -5px;

    .border {
        padding: 10px;
    }

    strong {
        text-transform: uppercase;
    }

    h2 {
        font-family: $font-secondary;
    }

    h3 {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 8px;
        text-align: center;
    }

    h4 {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 8px;
        text-align: center;
    }

    img {
        background: radial-gradient( closest-side, var(--color-highlight) 0%, transparent 100% );
        border: 0;
        display: block;
        margin: 0 auto 8px;
        max-height: 64px;
        width: auto;
    }

    p {
        font-family: $font-primary;
        margin: 0 0 4px;
    }
}
