.item-form {
    font-family: $font-primary;
}

.sheet-header, .actor-header {
    flex: 0 0 180px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
        margin-right: 10px;
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        height: 2em;
        padding: 0px;
        margin: 5px 0;
        border-bottom: 0;

        input {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

.sheet-tabs {
    flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: 100%;
}

.attribute-name{
    font-weight: 500;
    text-transform:uppercase;
}

.gear-section {
    padding-top: 10px;
    display: flex;
    flex-direction: row;

    .col1 {
        max-width: 150px;
        margin-right: 10px;
    }

    .col2 {
        width: 100%;
    }
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}

.box-list {
    border: 1px solid;
    margin-bottom: 10px;
    background-color: $c-brown-pale;

    &.mutant {
        background-color: $c-brown-pale;
    }

    &.animal {
        background-color: $c-green-pale;
    }

    &.robot {
        background-color: $c-blue-pale;
    }

    &.human {
        background-color: $c-teal-pale;
    }

    .box-header {
        padding: 5px;
        color: white;
        align-items: center;
        background-color: $c-brown-dark;
        background-image: url("../ui/box-header-brown.jpg");
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.mutant {
            background-image: url("../ui/box-header-brown.jpg");
        }

        &.animal {
            background-image: url("../ui/box-header-green.jpg");
        }

        &.robot {
            background-image: url("../ui/box-header-blue.jpg");
        }

        &.human {
            background-image: url("../ui/box-header-tile.jpg");
        }

        input {
            background-color: $c-white;
        }
    }

    .box-content {
        padding: 2px;
        min-height: 87px;

        .box-item {
            border-bottom: 1px solid $c-brown-mid;
            padding: 2px 0;
            align-items: center;

            input[type='checkbox'] {
                width: 15px;
                height: 15px;
            }

            .fa-eye {
                cursor: pointer;
            }
        }

        .box-item:last-child {
            border: none;
        }
    }
    /* &.mutations, &.talents {
        .box-content {
            min-height: 87px;
        }
    }*/
}

.conditions{
    .box-content{
        padding: 0 5px 0 5px;
    }
    .grid{
        margin: 0
    }
}

.viewable, .chatable, .item-create {
    cursor: pointer;
}

.short-input {
    max-width: 3em;
    text-align: center;
}

.item-create {
    text-align: right;
}
