.item-form {
    font-family: $font-primary;
}
ol{
    margin:0;
    list-style:none;
}

.sheet-header, .actor-header {
    flex: 0 0 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;

    &.npc {
        flex: 0 0 110px;

        h1.charname {
            height: 1em;
        }
    }

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
        margin-right: 10px;
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        height: 1.2em;
        padding: 0px;
        margin: 5px 0;
        border-bottom: 0;

        input {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

.sheet-tabs {
    flex: 0;
    margin-bottom: 5px;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: 100%;
}

.info,
.info .description,
.info .description .editor {
    height: 180px;
}


.rollable, a {
    &:hover,
    &:focus {
        text-shadow: 0 0 10px rgba(0,0,0,0.7);
        cursor: pointer;
    }
}

.attribute-name{
    font-weight: 800;
    text-transform:uppercase;
}

.gear-section {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    .col1 {
        grid-column: 1/ span 1;
    }

    .col2 {
        grid-column: 2/ span 4;
    }
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 95%;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.viewable, 
.chatable, 
.item-create, 
.item-broken {
    cursor: pointer;
}

.short-input {
    max-width: 3em;
    text-align: center;
    background-color:white;
    color: black;
}

.item-create {
    text-align: right;
}

.checkbox-label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 5px;
    position: relative;
    vertical-align: middle;

    input {
        position: absolute;
        left: 0;
        top: -3px;
        vertical-align: middle;
    }
}

.pick-npc {
    height: 100%;
    background-image: url(../ui/mutant-sheet-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    a {
        text-transform: uppercase;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 20px 30px 20px 30px;
        border: 1px solid #CCCCCC;
    }
}

input.nolabel{
    border:none;
    border-radius:unset;
    border-bottom:1px solid;
    margin-bottom: 2px;
    background-color: rgba(0,0,0,0);
}
::placeholder {
    color: rgba(0,0,0,0.4);
}

.header-fields {
    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 5px;
        //grid-auto-rows: minmax(100px, auto);
        :nth-child(1) {
            grid-column: 1/ span 3;
        }

        :nth-child(2) {
            grid-column: 4/ span 2;
        }

        :nth-child(3) {
            grid-column: 6/ span 1;
        }
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 5px;
        //grid-auto-rows: minmax(100px, auto);
        :nth-child(1) {
            grid-column: 1/ span 3;
        }

        :nth-child(2) {
            grid-column: 4/ span 2;
        }

        :nth-child(3) {
            grid-column: 6/ span 1;
        }
    }

    .row3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 5px;
        //grid-auto-rows: minmax(100px, auto);
        :nth-child(1) {
            grid-column: 1/ span 3;
        }

        :nth-child(2) {
            grid-column: 4/ span 1;
        }

        :nth-child(3) {
            grid-column: 5/ span 2;
        }
    }
}

.rot-box,
.armor-box {
    border: 1px solid;
    border-bottom: 1px solid !important;
    min-height: 36px !important;

    img {
        border: none;
        width:26px;
        height:26px;
    }

    .rot-button {
        cursor: pointer;
    }
}
.item-attr-row{
    margin-bottom:10px;
}
