.item-form {
	font-family: $font-primary;
}
ol {
	margin: 0;
	list-style: none;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    accent-color: #fff100;
}

.sheet-header,
.actor-header {
	flex: 0 0 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start !important;
	margin-bottom: 10px;

	&.npc {
		flex: 0 0 110px;

		h1.charname {
			height: 1em;
		}
	}

	.profile-img {
		flex: 0 0 100px;
		height: 100px;
		margin-right: 10px;
	}

	.header-fields {
		flex: 1;
	}

	h1.charname {
		height: 1.2em;
		padding: 0px;
		margin: 5px 0;
		border-bottom: 0;

		input {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
}

.sheet-tabs {
	flex: 0;
	margin-bottom: 5px;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
	height: 100%;
}

.info,
.info .description,
.info .description .editor {
	height: 180px;
}

.info-mid,
.info-mid .description,
.info-mid .description .editor {
	height: 280px;
}

.info-high,
.info-high .description,
.info-high .description .editor {
	height: 380px;
}

.rollable,
a {
	&:hover,
	&:focus {
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		cursor: pointer;
	}
}

.attribute-name {
	font-weight: 800;
	text-transform: uppercase;
}

.gear-section {
	padding-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	.col1 {
		grid-column: 1 / span 1;
	}

	.col2 {
		grid-column: 2 / span 4;
	}
}

.tox {
	.tox-editor-container {
		background: $c-white;
	}

	.tox-edit-area {
		padding: 0 8px;
	}
}

.overlay {
	position: absolute;
	width: 100%;
	height: 95%;
	top: 5%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
}

.viewable,
.chatable,
.item-create,
.item-broken {
	cursor: pointer;
}

.short-input {
	max-width: 3em;
	text-align: center;
	background-color: white;
	color: black;
}
.short-input-2em {
	max-width: 2em;
	text-align: center;
	background-color: white;
	color: black;
	padding: 0 0;
	margin-right: 0.5em;	
	background-color: white;
	
	&.rot{
		//background:url(../assets/ico/biohazard-grey.svg) no-repeat left top;
		background-size: cover;
		background-color: #f3f100;
		//color: white;
		font-weight: 500;
		border: dotted 1px black;
	}
}
.num-value-1rem {
	max-width: 1.2em;
	max-height: 1.2rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	color: black;
	padding: 0;
	//border: none;
	//border-radius: 0;
	//border-bottom: 1px solid;
	//background-color: unset;
}

.item-create {
	text-align: right;
}

.checkbox-label {
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 5px;
	position: relative;
	vertical-align: middle;

	input {
		position: absolute;
		left: 0;
		top: -3px;
		vertical-align: middle;
	}
}

.pick-npc {
	height: 100%;
	background-image: url(../ui/mutant-sheet-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	a {
		text-transform: uppercase;
		text-decoration: none;
		background-color: #eeeeee;
		color: #333333;
		padding: 20px 30px 20px 30px;
		border: 1px solid #cccccc;
	}
}

input.nolabel {
	border: none;
	border-radius: unset;
	border-bottom: 1px solid;
	margin-bottom: 2px;
	background-color: rgba(0, 0, 0, 0);
}
::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.header-fields {
	.row1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		margin-bottom: 5px;
		//grid-auto-rows: minmax(100px, auto);
		:nth-child(1) {
			grid-column: 1 / span 3;
		}

		:nth-child(2) {
			grid-column: 4 / span 2;
		}

		:nth-child(3) {
			grid-column: 6 / span 1;
		}
	}

	.row2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		margin-bottom: 5px;
		//grid-auto-rows: minmax(100px, auto);
		:nth-child(1) {
			grid-column: 1 / span 3;
		}

		:nth-child(2) {
			grid-column: 4 / span 2;
		}

		:nth-child(3) {
			grid-column: 6 / span 1;
		}
	}

	.row3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		margin-bottom: 5px;
		//grid-auto-rows: minmax(100px, auto);
		:nth-child(1) {
			grid-column: 1 / span 3;
		}

		:nth-child(2) {
			grid-column: 4 / span 1;
		}

		:nth-child(3) {
			grid-column: 5 / span 2;
		}
	}
}

.rot-box,
.armor-box {
	border: 1px solid;
	border-bottom: 1px solid !important;
	min-height: 36px !important;
	padding: 0.3em 0 0.3em 0;
	line-height: 14px;

	img {
		border: none;
		width: 26px;
		height: 26px;
	}

	.rot-button {
		cursor: pointer;
	}
}
.item-attr-row {
	margin-bottom: 10px;
}

.know-nature {
	background-image: url(../ui/know-nature-circle.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 70px;
	input {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		font-size: 22px;
	}
}

.box-encumbrance {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.7);
	border-top: 0;
	padding: 5px;
	color: black;
	background-color: white;

	&.encumbered {
		color: white;
		background-color: red;
		border: 1px solid rgba(0, 0, 0, 0.7);
		border-top: 0;
	}
}

.effect-textarea {
	resize: none;
	overflow: auto;
}

.input-underline {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid;
	background-color: unset;
}

.npc-name-rank {
	display: flex;
	flex-direction: row;
	align-items: center;

	.npc-name {
		flex: 2;
	}

	.npc-rank {
		margin-left: 1em;
		flex: 1;
		input {
			text-align: center;
		}
	}
}

.ark-header {
	display: flex;
	flex: 0 0 160px;
	flex-direction: row;
	img {
		width: 120px;
		height: 120px;
		margin-right: 10px;
	}
	h1.charname {
		height: 1.2em;
		padding: 0px;
		margin: 5px 0;
		border-bottom: 0;

		input {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
	.header-fields {
		margin-right: 5px;
	}
	.dev-box {
		display: flex;
		flex-direction: column;
		margin: 5px;
		flex-grow: 1;
		border: 1px solid #333333;
		div:nth-child(even) {
			background: #f0eeeb;
		}

		.title-box {
			display: flex;
			min-height: 32px;
			align-items: center;
			background-color: #2e2c2a;
			color: blanchedalmond;
			font-weight: bold;
			text-transform: capitalize;
			padding: 5px;
		}
		.resource {
			padding: 5px;
			display: flex;
			align-items: center;
			input {
				max-width: 3em;
				text-align: center;
			}
		}
	}
}

.projects-box {
	.projects-box-header {
		padding: 5px !important;
		background-color: #2e2c2a;
		color: blanchedalmond;
	}
	.project {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.boss-box {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #7e7e7e;
	.boss-name {
		font-weight: bold;
	}
	textarea {
		resize: vertical;
		min-height: 5.5em;
		border-color: #cccccc;
	}
}

.drop-zone-for-occupants{	
	//min-height: 350px;
	flex-wrap: wrap;
	.occupant{
		background-color: #eeeeee;
		.occupant-image{
			width:50px;
			cursor: pointer;
		}
		.occupant-delete{
			cursor: pointer;
		}
	}
}



.uppercase {
	text-transform: uppercase;
}

.margin-top {
	margin-top: 5px;
}

.margin-right {
	margin-right: 5px;
}

.margin-bottom {
	margin-bottom: 5px;
}

.margin-left {
	margin-left: 5px;
}

.size12 {
	font-size: 12px;
	line-height: 14px;
}
