.items-list {
    list-style: none;
    padding: 0;
    border: 1px solid;
    margin-bottom: 10px;

    &.mutant {
        background-color: $c-brown-pale;
    }

    &.animal {
        background-color: $c-green-pale;
    }

    &.robot {
        background-color: $c-blue-pale;
    }

    &.human {
        background-color: $c-teal-pale;
    }

    .item {
        min-height: 30px;
        line-height: 14px;
        border-bottom: 1px solid rgba(0,0,0,0.2);

        &.physical {
            .item-name {
                flex-basis: 45%;
            }

            .item-controls {
                flex-basis: 10%;
            }
        }

        &.header {
            color: ghostwhite;
            font-weight: 800;

            &.mutant {
                background-image: url("../ui/box-header-brown.jpg");
            }

            &.animal {
                background-image: url("../ui/box-header-green.jpg");
            }

            &.robot {
                background-image: url("../ui/box-header-blue.jpg");
            }

            &.human {
                background-image: url("../ui/box-header-tile.jpg");
            }
        }

        .item-image {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            margin-right: 0.5em;
        }

        img {
            display: block;
        }

        .item-name {
            flex-basis: 60%;
            padding-left: 0.2em;
        }

        .item-values {
            flex-basis: 35%;
        }

        .item-controls {
            text-align: right;
            flex-basis: 30%;
            padding-right: 0.2em;
        }

        .grid {
            margin: 0;
            grid-gap: 1px;
        }
    }

    .item:last-child {
        border: none;
    }
}


/*.items-list {
    list-style: none;
    //margin: 7px 0;
    padding: 0;


    .item-header {
        font-weight: bold;
    }



    .item {
        height: 30px;
        line-height: 24px;
        padding: 3px 0;
        border-bottom: 1px solid $c-brown-mid;

        .item-image {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }

        img {
            display: block;
        }
    }

    .item-name {
        margin: 0;
    }

    .item-controls {
        flex: 0 0 86px;
        text-align: right;
    }
}*/

.item-unequipped {
    color: rgba(0, 0, 0, 0.2);
}