.box-item {
    min-height: 30px;
    padding: 3px 0;
    line-height: 14px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    list-style: none;
    color: black;

    &.physical {
        .item-name {
            flex-basis: 45%;
        }

        .item-controls {
            flex-basis: 80px;
        }
    }

    &.resource{
        .item-name {
            flex-basis: 60%;
        }
    }

    &.header {
        color: ghostwhite;
        font-weight: 800;
        border: 1px solid black;

        &.mutant {
            background-image: url("../ui/box-header-brown.png");
        }

        &.animal {
            background-image: url("../ui/box-header-green.png");
        }

        &.robot {
            background-image: url("../ui/box-header-blue.png");
        }

        &.human {
            background-image: url("../ui/box-header-tile.png");
        }
    }

    &.chassis {
        .chassis-name {
            padding-left: 0.5em;
        }

        .chassis-armor {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background-image: url('../ui/empty-shield-padded.svg');
            background-size: contain;
            background-repeat: no-repeat;
            //background-attachment: fixed;
            background-position: center;
        }

        .chasis-details {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            :nth-child(1) {
                grid-column: 1/ span 3;
            }

            :nth-child(2) {
                grid-column: 4/ span 1;
            }
        }
    }

    .item-image {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        &.small {
            flex: 0 0 16px;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            margin-right: 0;
        }
        &.house-attribute {
            flex: 0 0 16px;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            cursor: pointer;
            opacity: 0;

            &.active{
                filter: drop-shadow(0 0 2px gold);
                opacity: 1;
            }
        }
    }

    img {
        display: block;
    }

    .item-name {
        flex-basis: 70%;
        padding-left: 0.5em;
        //overflow: hidden;
        &.broken{
            color:darkred;
        }
    }

    .item-values {
        flex-basis: 30%;
    }

    .item-controls {
        text-align: right;
        flex-basis: 30%;
        padding-right: 0.5em;
    }

    .right-element {
        padding-right: 0.5em;
    }

    .grid {
        margin: 0;
        grid-gap: 1px;
    }

    #context-menu {
        left: unset;
        right: 0;
        min-width: unset;
        width: unset;
        li.context-item {
            line-height: 26px;
        }
        .context-items {
            display: flex;
        }
    }
    .expand-down {
        top: 3px !important;
        right: 3px !important;
        bottom: 0 !important;
    }
    .expand-up {
        top: 3px !important;
        right: 3px !important;
        bottom: 0 !important;
    }

    .item-info{
        background-color: #f0eeeb;
        padding: 0.2rem 0;
    }
}

.box-list {
    list-style: none;
    padding: 0;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 5px;
    min-height: 90px;
    position: relative;
    color: black;

    &.mutant {
        background-color: $c-brown-pale;
    }

    &.animal {
        background-color: $c-green-pale;
    }

    &.robot {
        background-color: $c-blue-pale;
    }

    &.human {
        background-color: $c-teal-pale;
    }

    &.fixed-height {
        height: 130px;
        overflow: auto;
        margin-bottom: 0;
        position: relative;

        textarea {
            box-sizing: border-box;
            height: 120px;
            border: none;
            resize: none;
            font-family: $font-primary;
        }
    }

    .box-item:last-child {
        border: none;
    }

    &.conditions {
        font-size: small;
        min-height: 0px;
        height: 70px;

        .grid {
            grid-gap: 6px;
            margin: 0;
        }
    }
}

.item-unequipped {
    color: rgba(0, 0, 0, 0.2);
}
