nav.tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 10px 0;
  margin-bottom: 10px;
  [data-tab] {   
    
    line-height: 40px;
    //font-weight: bold;
    line-height: 23px;
    font-family: 'BigNoodleTitling';
    font-size: 1.3rem;
    color: black;

    &.active, 
    &:hover {
      text-decoration: underline;
      text-shadow: none;
    }
  }
}